<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wear My Tags - Design</title>

    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <!-- typekit -->
	<script type="text/javascript" src="//use.typekit.net/qgp3uvx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/main-responsive.css" rel="stylesheet">

    <script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="assets/js/responsiveCarousel.js"></script>

	<script type="text/javascript" src="assets/js/tab.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  	<!-- *** script to show/hide sub menu items on HOVER **** -->
	<script type="text/javascript">
	jQuery(document).ready(function($) {
	   
	    $('#contests, .sub-menu-1').hover(function() {
	        $('.container-fluid .sub-menu-1').show();
	    }, function() {
	        $('.container-fluid .sub-menu-1').hide();
	    });
	     $('#produce, .sub-menu-2').hover(function() {
	        $('.sub-menu-2').show();
	    }, function() {
	        $('.sub-menu-2').hide();
	    });
	     $('#funding, .sub-menu-3').hover(function() {
	        $('.sub-menu-3').show();
	    }, function() {
	        $('.sub-menu-3').hide();
	    });
	     $('#sell, .sub-menu-4').hover(function() {
	        $('.sub-menu-4').show();
	    }, function() {
	        $('.sub-menu-4').hide();
	    });    
	});
	</script>

	<!-- ######################## HEADER for Mobile Devices [start] ################## -->
	<div id="header" class="visible-xs">
		<div class="container">
			<div class="row">

				<!-- logo -->
				<div class="col-sm-12 logo"><a href="#"><img src="assets/img/logo.png" /></a></div>

			</div>
		</div>
	</div>
	<!-- ######################## HEADER for Mobile Devices [end] ################## -->

	<!-- ######################## HEADER for Desktop/ Large Screens [start] ################## -->
	<div id="header" class="hidden-xs">
		<div class="container">
			<div class="row">

				<!-- logo -->
				<div class="col-lg-3 col-sm-3 logo"><a href="#"><img src="assets/img/logo.png" /></a></div>

				<!-- main navigation -->
				<div class="col-lg-5 col-sm-12">
					<div id="navigation">
				        <div id="main-nav">
				            <div id="contests"><a href="#">Design</a></div>
				            <div id="produce"><a href="#">Manufacture</a></div>
				            <!--<div id="funding"><a href="#">Funding</a></div>-->
				            <div id="sell"><a href="#">Sell</a></div>
				            <!--<div class="nohover"><a href="#">Blog</a></div>-->
				        </div>
				    </div>
				</div>

				<!-- user menu -->
				<div class="col-lg-4 col-sm-12 users">
					<ul class="nav nav-pills navbar-right">
				        <li class="dropdown">
				          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
				            <img src="assets/img/menu-pic.png" class="menu-pic" align="absmiddle" /> ArtStudios <span class="caret"></span>
				          </a>
				          <ul role="menu" class="dropdown-menu">
				            <li><a href="#">My Profile</a></li>
				            <li><a href="#">Settings</a></li>
				            <li><a href="#">Social Feed</a></li>
				            <li><a href="#">Membership</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Sign out</a></li>
				          </ul>
				        </li>
				        <!--<li><a href="#">inbox (9)</a></li>-->

				        
				        <li class="dropdown">
				        	<a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/img/uico-1.png" /> <span class="count red">4</span></a>
					          <ul role="menu" class="dropdown-menu expanded">
					          	<div class="pointer"></div>
					            <div class="col-lg-12 col-sm-12 notifications"><!-- notifications -->
					            	<h5>Notifications</h5>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/notify-profile.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">You</a> have reached level 3!</h1>
												<h2>48mins</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/notify-profile.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">You</a> added a design to your folio</h1>
												<h2>49mins</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/notify-profile.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">You</a> submitted you first design entry</h1>
												<h2>52mins</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/notify-profile-2.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">John</a> commented of <a href="#">your design page</a></h1>
												<h2>53mins</h2>
											</div><!-- notice -->
										</div>
									<h4><a href="#">See all notifications</a></h4>
					            </div>

					          </ul>
				        </li>

				        <li class="dropdown">
				        	<a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/img/uico-3.png" /> <span class="count red">3</span></a>
					          <ul role="menu" class="dropdown-menu expanded">
					          	<div class="pointer"></div>
					            <div class="col-lg-12 col-sm-12 notifications messages"><!-- notifications -->
					            	<h5>Inbox</h5>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/designer-1.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Cynthia</a><br />I'm interested in working with you!</h1>
												<h2>48 mins ago</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/face-2.jpg" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Mark</a><br />Hi! How is it going...</h1>
												<h2>10 hrs ago</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/popular-6.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Julie</a><br />Find some updates for design...</h1>
												<h2>2 days ago</h2>
											</div><!-- notice -->
										</div>
									<h4><a href="#">See all messages</a></h4>
					            </div>

					          </ul>
				        </li>

				        
				        <li class="dropdown">
				        	<a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/img/uico-2.png" /> <span class="count red">2</span></a>
					          <ul role="menu" class="dropdown-menu expanded">
					          	<div class="pointer"></div>
					            <div class="col-lg-12 col-sm-12 notifications cart"><!-- shopping cart -->
					            	<h5>My Cart <span>3 Items</span></h5>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><a href="#"><img src="assets/img/cart-1.png" /></a></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Gap</a> <a href="#"><span class="label label-default remove">X</span></a></h1>
												<h3>$90.95 | Size S</h3>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><a href="#"><img src="assets/img/cart-2.png" /></a></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Levi's</a> <a href="#"><span class="label label-default remove">X</span></a></h1>
												<h3>$490.95 | Size 30</h3>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><a href="#"><img src="assets/img/cart-3.png" /></a></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Banana Republic</a> <a href="#"><span class="label label-default remove">X</span></a></h1>
												<h3>$690.95 | Size XS</h3>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-12 col-sm-12">
												<p class=""><a href="#" class="btn btn-block orange-2">checkout</a></p>
											</div>
										</div>
					            </div>

					          </ul>
				        </li>
				    </ul>
				</div>
				
			</div>
		</div>
	</div>


	<div class="container-fluid"> <!-- for desktop/ large screen -->
		<div id="sub-nav"> 
	        <ul class="sub-menu-1 menu-holder">
	            <li><a href="#">Browse Categories</a></li>
	            <li><a href="#">How it works</a></li>	            
	            <li><a href="#">Pricing </a></li>
	            <li><a href="#">Personal Projects</a></li>
	            <li><a href="#">Designers</a></li>
	        </ul>
	        <ul class="sub-menu-2 menu-holder">
	            <li><a href="#">Produce 1</a></li>
	            <li><a href="#">Produce 2</a></li>
	            <li><a href="#">Produce 3</a></li>
	            <li><a href="#">Produce 4</a></li>
	            <li><a href="#">Produce 5</a></li>
	            <li><a href="#">Produce 6</a></li>
	        </ul>
	        <ul class="sub-menu-3 menu-holder">
	            <li><a href="#">Funding 1</a></li>
	            <li><a href="#">Funding 2</a></li>
	            <li><a href="#">Funding 3</a></li>
	            <li><a href="#">Funding 4</a></li>
	        </ul>
	        <ul class="sub-menu-4 menu-holder">
	            <li><a href="#">Sell 1</a></li>
	            <li><a href="#">Sell 2</a></li>
	            <li><a href="#">Sell 3</a></li>
	            <li><a href="#">Sell 4</a></li>
	        </ul>
		</div>
	</div>
	<!-- ######################## HEADER  for Desktop/ Large Screens  [end] ################## -->


	<!-- ######################## MAIN INTRO SECTION ################## -->
	<div id="platform" class="design-main">
		<div class="container">
			<div class="row">

				<div class="col-lg-5 col-sm-5">
					<p>
						<img src="assets/img/design-main.png" class="img-responsive" />
					</p>
				</div>

				<div class="col-lg-7 col-sm-7">
					<h1>get designed</h1>

					<h2>We’re here to help you, it’s easy!</h2>

					<h3>Watch the VIDEO, scroll down or start right away!</h3>

					<p class="hidden-xs"><a href="#" class="btn btn-default orange">browse contests</a> <a href="#" class="btn btn-default green">start contest</a></p>

					<p class="visible-xs"><a href="#" class="btn btn-block orange">browse contests</a> <a href="#" class="btn btn-block green">start contest</a></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<!-- ##################### Step 1 #####################S -->
	<div id="step" class="bg-1">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-4 col-sm-4">
					<p>
						<img src="assets/img/step-1.png" class="img-responsive" />
					</p>
				</div>
				
				<div class="col-lg-8 col-sm-8">
					<h6>Step 1/4</h6>
					<h1>Write design <span>brief</span></h1>
					<p>
						It all begins with an awesome design brief to get the designers attention. Tell designers what you want in your fashion design. Answer the questions in our simple online brief with as much detail as you can.
					</p>
				</div>

			</div><!-- row -->

		</div>
	</div>



	<!-- ##################### Step 2 #####################S -->
	<div id="step" class="bg-2">
		<div class="container">
			<div class="row">

				<div class="col-lg-8 col-sm-8">
					<h6>Step 2/4</h6>
					<h1 class="light"><span>Launch contest</span> and <span>receive design</span> from all over the world!</h1>
					<p class="light">
						Your design brief is submitted to our contest list. Skilled fashion designers will take it from here. From New York to Paris and Caracas. All of our designers will see if they can help you!
					</p>
				</div>

				<div class="col-lg-4 col-sm-4">
					<p>
						<img src="assets/img/step-2.png" class="img-responsive" />
					</p>
				</div>

			</div><!-- row -->

		</div>
	</div>




	<!-- ##################### Step 3 #####################S -->
	<div id="step" class="bg-1">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-4 col-sm-4">
					<p>
						<img src="assets/img/step-3.png" class="img-responsive" />
					</p>
				</div>
				
				<div class="col-lg-8 col-sm-8">
					<h6>Step 3/4</h6>
					<h1><span>Give feedback</span> and <span>pick</span> your finalists!</h1>
					<p>
						Improve your incoming designs by providing with detailed feedback. Let the designers know what you’re looking for. After a set periode you can pick your finalists...
					</p>
				</div>

			</div><!-- row -->

		</div>
	</div>


	<!-- ##################### Step 4 #####################S -->
	<div id="step" class="bg-3">
		<div class="container">
			<div class="row">

				<div class="col-lg-8 col-sm-8">
					<h6>Step 4/4</h6>
					<h1 class="lighter">Pick your <span>winner</span>!</h1>
					<p class="lighter">
						In just one week you have your winner. Sign the copyright agreement and we’ll pay the designer. 
						Once you have your design, you can manufacture it easily with one of our professional’s!
					</p>
				</div>

				<div class="col-lg-4 col-sm-4">
					<p>
						<img src="assets/img/dress.png" class="img-responsive" />
					</p>
				</div>

			</div><!-- row -->

		</div>
	</div>

	<!-- ################ TABBED SECTION ################### -->


	<div class="container-fluid" id="slogan">
		<div class="container sep">
			<div class="row centered">
				<div class="col-lg-12">
					<h2>Find the best designer for your next clothing project</h2>
					<p class="hidden-xs"><a href="#" class="btn green">Get Started now!</a></p>
					<p class="visible-xs"><a href="#" class="btn btn-block green">Get Started now!</a></p>
				</div>
			</div><!-- row -->
		</div>
	</div><!-- container -->

	<!-- ######################## PORTFOLIO SECTION ################## -->
	<div id="portfolio" class="design-main">
		<div class="container">

			<div class="row centered"> <!-- ########## first row of design items ########## -->
				<!-- design item -->
				<div class="col-lg-3 col-sm-3 designs">
					<a href="#"><img src="assets/img/dm-1.png" class="item-pic img-responsive" /></a>
					<h1><a href="#">Men's Wear</a></h1>
				</div><!-- col-lg-3 -->

				<!-- design item -->
				<div class="col-lg-3 col-sm-3 designs">
					<a href="#"><img src="assets/img/dm-2.png" class="item-pic img-responsive" /></a>
					<h1><a href="#">Women's Wear</a></h1>
				</div><!-- col-lg-3 -->

				<!-- design item -->
				<div class="col-lg-3 col-sm-3 designs">
					<a href="#"><img src="assets/img/dm-3.png" class="item-pic img-responsive" /></a>
					<h1><a href="#">Kid's Wear</a></h1>
				</div><!-- col-lg-3 -->

				<!-- design item -->
				<div class="col-lg-3 col-sm-3 designs">
					<a href="#"><img src="assets/img/dm-4.png" class="item-pic img-responsive" /></a>
					<h1><a href="#">Accessories</a></h1>
				</div><!-- col-lg-3 -->
			</div><!-- row -->


		</div>
	</div>


	<!-- ######################## WHAT THEY SAY ################## -->
	<div id="whattheysay" class="design-main">
		<div class="container">

			<h1 class="centered">We have more than a few satisfied clients!</h1>

			<div class="row">

				<div class="col-lg-2 hidden-xs"> <!-- testimonial -->
					<div class="view"><p class="centered"><a href="#">read more</a></p></div>
					<img src="assets/img/testi-3.png" />
				</div>
				<div class="col-lg-4">
					<h2>Never thought I could find exactly what I was looking for. The quality and service where outstanding. Loved it!</h2>
					<h3 class="speak"></h3>
					<p class="hidden-xs">Jill van de Ven <br />World Wide People Operations at <b>Mozilla</b></p>
					<table width="100%" class="visible-xs" cellpadding="5">
						<tr>
							<td><p><img src="assets/img/testi-3.png" class="mob" /></p></td>
							<td><p>Jill van de Ven11 <br />World Wide People Operations at <b>Mozilla</b></p></td>
						</tr>
					</table>
				</div>

				<div class="col-lg-2 hidden-xs"> <!-- testimonial -->
					<div class="view"><p class="centered"><a href="#">read more</a></p></div>
					<img src="assets/img/testi-1.png" />
				</div>
				<div class="col-lg-4">
					<h2>I had an exclusive idea, never produced before! With WearMyTags I found the right manufacturer! I’ll certainly come back!</h2>
					<h3 class="speak"></h3>
					<p class="hidden-xs">Jacky Chan <br />Actor from <b>Rush Hour I and II</b></p>
					<table width="100%" class="visible-xs" cellpadding="5">
						<tr>
							<td><p><img src="assets/img/testi-1.png" class="mob" /></p></td>
							<td><p>Jacky Chan <br />Actor from <b>Rush Hour I and II</b></p></td>
						</tr>
					</table>
				</div>

				<div class="col-lg-2 hidden-xs"> <!-- testimonial -->
					<div class="view"><p class="centered"><a href="#">read more</a></p></div>
					<img src="assets/img/testi-4.png" />
				</div>
				<div class="col-lg-4">
					<h2>Never thought I could find exactly what I was looking for. The quality and service where outstanding. Loved it!</h2>
					<h3 class="speak"></h3>
					<p class="hidden-xs">Jim van de Ven <br />World Wide People Operations at <b>Mozilla</b></p>
					<table width="100%" class="visible-xs" cellpadding="5">
						<tr>
							<td><p><img src="assets/img/testi-4.png" class="mob" /></p></td>
							<td><p>Jim van de Ven11 <br />World Wide People Operations at <b>Mozilla</b></p></td>
						</tr>
					</table>
				</div>

				<div class="col-lg-2 hidden-xs"> <!-- testimonial -->
					<div class="view"><p class="centered"><a href="#">read more</a></p></div>
					<img src="assets/img/testi-2.png" />
				</div>
				<div class="col-lg-4">
					<h2>I had an exclusive idea, never produced before! With WearMyTags I found the right manufacturer! I’ll certainly come back!</h2>
					<h3 class="speak"></h3>
					<p class="hidden-xs">Jacky Chan <br />Actor from <b>Rush Hour I and II</b></p>
					<table width="100%" class="visible-xs" cellpadding="5">
						<tr>
							<td><p><img src="assets/img/testi-2.png" class="mob" /></p></td>
							<td><p>Jacky Chan <br />Actor from <b>Rush Hour I and II</p></td>
						</tr>
					</table>
				</div>

			</div><!-- row -->

		</div><!-- container -->
	</div>




	<!-- ######################## FOOTER SECTION ################## -->
	<!-- FOOTER NEWSLETTER -->
	<div id="newsletter">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-sm-3"><h1>Subscribe to our Newsletter</h1></div>
				<div class="col-lg-4 col-sm-4 newsletter-form">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Your E-mail" /> 
				      <span class="input-group-btn">
				        <button class="btn btn-default go" type="button">OK</button>
				      </span>
				    </div>
				</div>
				<div class="col-lg-4 col-sm-5 social">
					<a href="#" class="instagram"></a> <a href="#" class="facebook"></a> <a href="#" class="linkedin"></a> <a href="#" class="twitter"></a> <a href="#" class="vimeo"></a>
				</div>

			</div><!-- row -->
		</div><!-- container -->
	</div>
	<!-- fOOTER NEWSLETTER -->

	<!-- FOOTER LARGE -->
	<div id="footer-large">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-3">
					<h1>Wear My Tags</h1>
					<p>
						<ul>
							<li><a href="#">Get Designed</a>
							<li><a href="#">Manufacture</a>
							<li><a href="#">Store</a>
							<li><a href="#">Style Advice</a>
							<li><a href="#">Post Contest</a>
							<li><a href="#">Post Job</a>
						</ul>
					</p>
				</div>

				<div class="col-lg-3 col-sm-3">
					<h1>Resources</h1>
					<p>
						<ul>
							<li><a href="#">Help</a>
							<li><a href="#">Feedback</a>
							<li><a href="#">Terms of Service</a>
							<li><a href="#">Privacy Policy</a>
							<li><a href="#">Cookie Policy</a>
							<li><a href="#">Contact Us</a>
						</ul>
					</p>
				</div>

				<div class="col-lg-3 col-sm-3">
					<h1>Get to Know Us</h1>
					<p>
						<ul>
							<li><a href="#">About Us</a>
							<li><a href="#">Press</a>
							<li><a href="#">Blog</a>
							<li><a href="#">Our Team</a>
							<li><a href="#">Careers</a>
							<li><a href="#">Testimonials</a>
						</ul>
					</p>
				</div>

				<div class="col-lg-3 col-sm-3">
					<h1>Worth Knowing</h1>
					<p>
						<ul>
							<li><a href="#">Sitemap</a>
							<li><a href="#">Getting Started</a>
							<li><a href="#">How it works</a>
							<li><a href="#">Trust &amp; Safety</a>
							<li><a href="#">Fees &amp; Charges</a>
							<li><a href="#">Community</a>
						</ul>
					</p>
				</div>

			</div><!-- row -->
		</div><!-- container -->
	</div>
	<!-- FOOTER LARGE -->
	
	
	<!-- FOOTER COPYRIGHT -->
	<div id="copyright">
		<div class="container">
			<div class="row centered">
				&copy; <a href="#">Wear My Tags</a> | All rights reserved.
			</div><!-- row -->
		</div><!-- container -->
	</div>
	<!-- fOOTER COPYRIGHT -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>-->

  </body>
</html>
