<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wear My Tags</title>

    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <!-- typekit -->
	<script type="text/javascript" src="//use.typekit.net/qgp3uvx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/main-responsive.css" rel="stylesheet">

    <script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="assets/js/responsiveCarousel.js"></script>

	<script type="text/javascript" src="assets/js/tab.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  	<!-- *** script to show/hide sub menu items on HOVER **** -->
	<script type="text/javascript">
	jQuery(document).ready(function($) {
	   
	    $('#contests, .sub-menu-1').hover(function() {
	        $('.container-fluid .sub-menu-1').show();
	    }, function() {
	        $('.container-fluid .sub-menu-1').hide();
	    });
	     $('#produce, .sub-menu-2').hover(function() {
	        $('.sub-menu-2').show();
	    }, function() {
	        $('.sub-menu-2').hide();
	    });
	     $('#funding, .sub-menu-3').hover(function() {
	        $('.sub-menu-3').show();
	    }, function() {
	        $('.sub-menu-3').hide();
	    });
	     $('#sell, .sub-menu-4').hover(function() {
	        $('.sub-menu-4').show();
	    }, function() {
	        $('.sub-menu-4').hide();
	    });    
	});
	</script>

	<!-- ######################## HEADER for Mobile Devices [start] ################## -->
	<div id="header" class="visible-xs">
		<div class="container">
			<div class="row">

				<!-- logo -->
				<div class="col-sm-12 logo"><a href="#"><img src="assets/img/logo.png" /></a></div>

			</div>
		</div>
	</div>
	<!-- ######################## HEADER for Mobile Devices [end] ################## -->

	<!-- ######################## HEADER for Desktop/ Large Screens [start] ################## -->
	<div id="header" class="hidden-xs">
		<div class="container">
			<div class="row">

				<!-- logo -->
				<div class="col-lg-3 col-sm-3 logo"><a href="#"><img src="assets/img/logo.png" /></a></div>

				<!-- main navigation -->
				<div class="col-lg-5 col-sm-12">
					<div id="navigation">
				        <div id="main-nav">
				            <div id="contests" class="first"><a href="#">Design</a></div>
				            <div id="produce"><a href="#">Manufacture</a></div>
				            <!--<div id="funding"><a href="#">Funding</a></div>-->
				            <div id="sell"><a href="#">Sell</a></div>
				            <!--<div class="nohover"><a href="#">Blog</a></div>-->
				        </div>
				    </div>
				</div>

				<!-- user menu -->
				<div class="col-lg-4 col-sm-12 users">
					<ul class="nav nav-pills navbar-right">
				        <li class="dropdown">
				          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
				            <img src="assets/img/menu-pic.png" class="menu-pic" align="absmiddle" /> ArtStudios <span class="caret"></span>
				          </a>
				          <ul role="menu" class="dropdown-menu">
				            <li><a href="#">My Profile</a></li>
				            <li><a href="#">Settings</a></li>
				            <li><a href="#">Social Feed</a></li>
				            <li><a href="#">Membership</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Sign out</a></li>
				          </ul>
				        </li>
				        <!--<li><a href="#">inbox (9)</a></li>-->

				        
				        <li class="dropdown">
				        	<a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/img/uico-1.png" /> <span class="count red">4</span></a>
					          <ul role="menu" class="dropdown-menu expanded">
					          	<div class="pointer"></div>
					            <div class="col-lg-12 col-sm-12 notifications"><!-- notifications -->
					            	<h5>Notifications</h5>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/notify-profile.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">You</a> have reached level 3!</h1>
												<h2>48mins</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/notify-profile.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">You</a> added a design to your folio</h1>
												<h2>49mins</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/notify-profile.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">You</a> submitted you first design entry</h1>
												<h2>52mins</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/notify-profile-2.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">John</a> commented of <a href="#">your design page</a></h1>
												<h2>53mins</h2>
											</div><!-- notice -->
										</div>
									<h4><a href="#">See all notifications</a></h4>
					            </div>

					          </ul>
				        </li>

				        <li class="dropdown">
				        	<a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/img/uico-3.png" /> <span class="count red">3</span></a>
					          <ul role="menu" class="dropdown-menu expanded">
					          	<div class="pointer"></div>
					            <div class="col-lg-12 col-sm-12 notifications messages"><!-- notifications -->
					            	<h5>Inbox</h5>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/designer-1.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Cynthia</a><br />I'm interested in working with you!</h1>
												<h2>48 mins ago</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/face-2.jpg" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Mark</a><br />Hi! How is it going...</h1>
												<h2>10 hrs ago</h2>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><img src="assets/img/popular-6.png" /></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Julie</a><br />Find some updates for design...</h1>
												<h2>2 days ago</h2>
											</div><!-- notice -->
										</div>
									<h4><a href="#">See all messages</a></h4>
					            </div>

					          </ul>
				        </li>

				        <li class="dropdown">
				        	<a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/img/uico-2.png" /> <span class="count red">2</span></a>
					          <ul role="menu" class="dropdown-menu expanded">
					          	<div class="pointer"></div>
					            <div class="col-lg-12 col-sm-12 notifications cart"><!-- shopping cart -->
					            	<h5>My Cart</h5>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><a href="#"><img src="assets/img/contest-4.jpg" /></a></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Sed Utesp</a> <a href="#"><span class="label label-default remove">X</span></a></h1>
												<h3><span class="label label-info">5 X $20.00</span></h3>
											</div><!-- notice -->
										</div>
										<div class="row">
											<div class="col-lg-3 col-sm-3"><a href="#"><img src="assets/img/contest-5.jpg" /></a></div>
											<div class="col-lg-9 col-sm-9 notify-updates">
												<h1><a href="#">Lorem ipsum</a> <a href="#"><span class="label label-default remove">X</span></a></h1>
												<h3><span class="label label-info">1 X $300.00</span></h3>
											</div><!-- notice -->
										</div>
										<p class="textright"><a href="#" class="btn orange-2">checkout</a></p>
					            </div>

					          </ul>
				        </li>
				    </ul>
				</div>
				
			</div>
		</div>
	</div>


	<div class="container-fluid"> <!-- for desktop/ large screen -->
		<div id="sub-nav"> 
	        <ul class="sub-menu-1 menu-holder">
	            <li><a href="#">Browse Categories</a></li>
	            <li><a href="#">How it works</a></li>	            
	            <li><a href="#">Pricing </a></li>
	            <li><a href="#">Personal Projects</a></li>
	            <li><a href="#">Designers</a></li>
	        </ul>
	        <ul class="sub-menu-2 menu-holder">
	            <li><a href="#">Produce 1</a></li>
	            <li><a href="#">Produce 2</a></li>
	            <li><a href="#">Produce 3</a></li>
	            <li><a href="#">Produce 4</a></li>
	            <li><a href="#">Produce 5</a></li>
	            <li><a href="#">Produce 6</a></li>
	        </ul>
	        <ul class="sub-menu-3 menu-holder">
	            <li><a href="#">Funding 1</a></li>
	            <li><a href="#">Funding 2</a></li>
	            <li><a href="#">Funding 3</a></li>
	            <li><a href="#">Funding 4</a></li>
	        </ul>
	        <ul class="sub-menu-4 menu-holder">
	            <li><a href="#">Sell 1</a></li>
	            <li><a href="#">Sell 2</a></li>
	            <li><a href="#">Sell 3</a></li>
	            <li><a href="#">Sell 4</a></li>
	        </ul>
		</div>
	</div>
	<!-- ######################## HEADER  for Desktop/ Large Screens  [end] ################## -->




	<!-- ######################## MAIN INTRO SECTION ################## -->
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Fashion and Apparel Marketplace</b></h1>
					<h2>Get it done! Connect with Fashion Designers, Manufacturers, and Buyers</h2>
					
					<p class="hidden-xs"><a href="#" class="btn btn-default orange">Get started</a> <a href="#" class="btn btn-default green">See how it works</a></p>

					<p class="visible-xs"><a href="#" class="btn btn-block orange">Get started</a> <a href="#" class="btn btn-block green">See how it works</a></p>

				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<!-- ######################## FEATURED SECTION ################## -->
	<div id="featured">
		<div class="container">
			<div class="row centered">
				<h1>Get it <span>Designed, Produced, and Sold</span></h1>
				<div class="col-lg-4 col-sm-4">
					<img src="assets/img/icon-1.png" />
					<h2>Contests</h2>
					<p>Post a design contest for a fixed price with a detailed description of what you need.</p>
					<h3><a href="#">Go to Contest Section</a></h3>
				</div><!-- col-lg-3 -->

				<div class="col-lg-4 col-sm-4">
					<img src="assets/img/icon-2.png" />
					<h2>Manufacture</h2>
					<p>Post your request on our platform and let your dreams become true.</p>
					<h3><a href="#">Go to Manufacture Section</a></h3>
				</div><!-- col-lg-3 -->

				<!--<div class="col-lg-3">
					<img src="assets/img/icon-3.png" />
					<h2>Funding</h2>
					<p>Start your own funding campaign and make people believe in your concepts!</p>
					<h3><a href="#">Go to Funding Section</a></h3>
				</div>--><!-- col-lg-3 -->

				<div class="col-lg-4 col-sm-4">
					<img src="assets/img/icon-4.png" />
					<h2>Sell</h2>
					<p>Once you get your design you want them to get sold. We give you your marketplace!</p>
					<h3><a href="#">Go to Sell Section</a></h3>
				</div><!-- col-lg-3 -->
			</div><!-- row -->
		</div><!-- container -->
	</div>

	<!-- ##################### PLATFORM 0 #####################S -->
	<div id="platform" class="bg-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-sm-7">
					<h1>New Ideas for your old wardrobe!</h1>
					<p>
						Once you have your design, you want it to be made into real products! with wearmytags you can put your request online and let manufacturers bid for a task.
					</p>

					<p class="hidden-xs"><a href="#" class="btn btn-default orange">get started</a> <a href="#" class="btn btn-default green">see how it works</a></p>

					<p class="visible-xs"><a href="#" class="btn btn-block orange">get started</a></p>
				</div>

				<div class="col-lg-5 col-sm-5">
					<p>
						<img src="assets/img/dress.png" class="img-responsive" />
					</p>
				</div>

			</div><!-- row -->

		</div>
	</div>



	<!-- ##################### PLATFORM 1 #####################S -->
	<div id="platform">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-5">
					<p>
						<img src="assets/img/network.png" class="img-responsive" />
					</p>
				</div>

				<div class="col-lg-7 col-sm-7">
					<h1>Looking To Get Those Items Produced</h1>
					<p>
						Once you have your design, you want it to be made into real products! with wearmytags you can put your request online and let manufacturers bid for a task.
					</p>

					<p class="hidden-xs"><a href="#" class="btn btn-default orange">get started</a> <a href="#" class="btn btn-default green">see how it works</a></p>

					<p class="visible-xs"><a href="#" class="btn btn-block orange">get started</a></p>

				</div>

			</div><!-- row -->

		</div>
	</div>


	<!-- ##################### PLATFORM 2 #####################S -->
	<div id="platform" class="bg-1">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-5">
					<p>
						<img src="assets/img/platform.png" class="img-responsive" />
					</p>
				</div>
				<div class="col-lg-7 col-sm-7">
					<h1>Ideal Platform To Sell Your Apparel</h1>
					<p>
						Once you have your design, you want it to be made into real products! With wearmytags you can put your request online and let manufacturers bid for a task.
					</p>

					<p class="hidden-xs"><a href="#" class="btn btn-default orange">start selling</a> <a href="#" class="btn btn-default green">see how it works</a></p>

					<p class="visible-xs"><a href="#" class="btn btn-block orange">start selling</a></p>

				</div>
			</div><!-- row -->

		</div>
	</div>


	<!-- ################ TABBED SECTION ################### -->

	<!-- ######################## PORTFOLIO SECTION ################## -->
	<div id="portfolio" class="tab-container shop-sell terms">
		<div class="container">
			<div class="row">

				<div class="col-lg-12 col-sm-12">

					<ul class="nav nav-tabs visible-xs"> <!-- for DESKTOP/large screen -->  <!-- tab to dropdown title -->

					  <li class="dropdown pull-right tabdrop"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/img/dd.png" /> <b class="caret"></b></a>	
					  	<ul class="dropdown-menu">
					        <li class="active"><a data-toggle="tab" href="#contest-entries-tab1">New Arrivals</a></li>
					        <li class=""><a data-toggle="tab" href="#contest-entries-tab2">Latest Contests</a></li>
					        <li class=""><a data-toggle="tab" href="#contest-entries-tab3">Latest Jobs</a></li>
					  	</ul>
					  </li>
					</ul>

					<ul class="nav nav-tabs hidden-xs" id="myTab"> <!-- for MOBILE/small screen --> <!-- tab title -->
					        <li class="active"><a data-toggle="tab" href="#contest-entries-tab1">New Arrivals</a></li>
					        <li class=""><a data-toggle="tab" href="#contest-entries-tab2">Latest Contests</a></li>
					        <li class=""><a data-toggle="tab" href="#contest-entries-tab3">Latest Jobs</a></li>
				    </ul>
				</div>


				<div class="col-lg-12 col-sm-12">
			      <div class="tab-content" id="myTabContent">

			      	<!-- ####################################### tab 01 ###################################### -->
			        <div id="contest-entries-tab1" class="tab-pane fade active in">
						
						<h1 class="visible-xs mob-title">New Arrivals</h1> <!-- Heading for mobile -->

								<div class="row"> <!-- ########## first row of design items ########## -->
									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-2.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$35</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-1.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$35</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-2.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$15</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-2.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$35</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->
								</div><!-- row -->

								<div class="row"> <!-- ########## second row of design items ########## -->
									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-1.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$65</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-1.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$235</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-2.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$135</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-1.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$35</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->
								</div><!-- row -->

			        </div>


			        <!-- ####################################### tab 02 ###################################### -->
			        <div id="contest-entries-tab2" class="tab-pane fade">

						<h1 class="visible-xs mob-title">Latest Contests</h1> <!-- Heading for mobile -->

								<div class="row"> <!-- ########## first row of design items ########## -->
									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-5.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Nautical Polo</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2-bw.png" /></div>

											<div class="col-lg-6 col-sm-6"><p class="text-right"><img src="assets/img/info.png" /> <img src="assets/img/thumbs.png" /> <a href="#">2</a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-4.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2-bw.png" /></div>

											<div class="col-lg-6 col-sm-6"><p class="text-right"><img src="assets/img/info.png" /> <img src="assets/img/thumbs.png" /> <a href="#">10</a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-6.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Boho Print Blouse</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /></div>

											<div class="col-lg-6 col-sm-6"><p class="text-right"><img src="assets/img/info.png" /> <img src="assets/img/thumbs.png" /> <a href="#">5</a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-3.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2-bw.png" /><img src="assets/img/star-2-bw.png" /><img src="assets/img/star-2-bw.png" /></div>

											<div class="col-lg-6 col-sm-6"><p class="text-right"><img src="assets/img/info.png" /> <img src="assets/img/thumbs.png" /> <a href="#">2</a></p></div>
										</div>
									</div><!-- col-lg-3 -->
								</div><!-- row -->
	
								<div class="row"> <!-- ########## first row of design items ########## -->
									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-8.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Multi Color Floral Tee</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2-bw.png" /></div>

											<div class="col-lg-6 col-sm-6"><p class="text-right"><img src="assets/img/info.png" /> <img src="assets/img/thumbs.png" /> <a href="#">2</a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-1.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2-bw.png" /></div>

											<div class="col-lg-6 col-sm-6"><p class="text-right"><img src="assets/img/info.png" /> <img src="assets/img/thumbs.png" /> <a href="#">10</a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-7.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Boho Print Blouse</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /></div>

											<div class="col-lg-6 col-sm-6"><p class="text-right"><img src="assets/img/info.png" /> <img src="assets/img/thumbs.png" /> <a href="#">5</a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-2.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><img src="assets/img/star-2.png" /><img src="assets/img/star-2.png" /><img src="assets/img/star-2-bw.png" /><img src="assets/img/star-2-bw.png" /><img src="assets/img/star-2-bw.png" /></div>

											<div class="col-lg-6 col-sm-6"><p class="text-right"><img src="assets/img/info.png" /> <img src="assets/img/thumbs.png" /> <a href="#">2</a></p></div>
										</div>
									</div><!-- col-lg-3 -->
								</div><!-- row -->

			        </div>

			        <!-- ####################################### tab 03 ###################################### -->
			        <div id="contest-entries-tab3" class="tab-pane fade">
						<h1 class="visible-xs mob-title">Latest Jobs</h1> <!-- Heading for mobile -->

								<div class="row"> <!-- ########## first row of design items ########## -->
									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-3.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$1000 - $2000</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-4.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$2000 - $4000</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-2.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$1500 - $2500</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-3.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$2000 - $2500</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->
								</div><!-- row -->

								<div class="row"> <!-- ########## second row of design items ########## -->
									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-4.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$1000 - $2000</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-1.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$5000 - $10000</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-2.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Water Proof Sunglasses</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$4000 - $8000</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->

									<!-- design item -->
									<div class="col-lg-3 col-sm-3 designs">
										<a href="#"><img src="assets/img/product-4.png" class="item-pic img-responsive" /></a>
										<h1><a href="#">Summer Shorts</a></h1>
										<div class="row">
											<div class="col-lg-6 col-sm-6"><p class="price">$35</p></div>
											<div class="col-lg-6 col-sm-6"><p><a href="#"><span class="basket"></span></a></p></div>
										</div>
									</div><!-- col-lg-3 -->
								</div><!-- row -->

			        </div>




			      </div>
				</div>


			</div>
		</div>
	</div>


	<!-- ######################## BOTTOMS SCROLLER SECTION ################## -->
	<div id="footer-scroll">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12">

				<div data-navigation="contest-carousel-story" class="gallery crsl-items-story">

					<!-- STORY carousel controls -->
					<!--<div class="crsl-nav" id="contest-carousel-story">
						<a class="previous" href="#"><img src="assets/img/prev-arrow-2.png" alt="prev" /></a>
						<a class="next" href="#"><img src="assets/img/next-arrow-2.png" alt="next" /></a>
					</div>-->

					<div class="crsl-wrap scroll-contest">
						<div class="crsl-item large-slider">
							<img src="assets/img/large-slider-04.png" class="wide-image" />
							<div class="col-lg-6 col-sm-8 col-lg-offset-5 col-sm-offset-4 large-slider-content">
								<h1>Thanks to WearMyTags I do have my own clothing line.</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eialiqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
								<p class="centered hidden-xs"><a href="#" class="btn orange">Read full story</a></p>
								<p class="centered visible-xs"><a href="#" class="btn btn-block orange">Read full story1</a></p> 
							</div>
						</div>
						<div class="crsl-item large-slider">
							<img src="assets/img/large-slider-02.jpg" class="wide-image" />
							<div class="col-lg-6 col-sm-8 col-lg-offset-5 col-sm-offset-4 large-slider-content">
								<h1>Thanks to WMT I do have my own clothing line.</h1>
								<p>Sed do eialiqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
								<p class="centered hidden-xs"><a href="#" class="btn orange">Read full story</a></p>
								<p class="centered visible-xs"><a href="#" class="btn btn-block orange">Read full story1</a></p> 
							</div>
						</div>
						<div class="crsl-item large-slider">
							<img src="assets/img/large-slider-03.jpg" class="wide-image" />
							<div class="col-lg-6 col-sm-8 col-lg-offset-5 col-sm-offset-4 large-slider-content">
								<h1>Thanks to WearMyTags I do have my own clothing line.</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eialiqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
								<p class="centered hidden-xs"><a href="#" class="btn orange">Read full story</a></p>
								<p class="centered visible-xs"><a href="#" class="btn btn-block orange">Read full story1</a></p> 
							</div>
						</div>
					</div>

				</div>

				<!-- initialize STORY carousel  -->
				<script type="text/javascript"> 
					jQuery(document).ready(function($){
						$('.crsl-items-story').carousel({autoRotate: 10000, visible: 1, itemMinWidth: 1000, itemMargin: 100 });
					});
				</script>

				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div>


	<!-- ######################## FOOTER SECTION ################## -->
	<!-- FOOTER NEWSLETTER -->
	<div id="newsletter">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-sm-4"><h1>Subscribe to our Newsletter</h1></div>
				<div class="col-lg-4 col-sm-4 newsletter-form">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Your E-mail" /> 
				      <span class="input-group-btn">
				        <button class="btn btn-default go" type="button">OK</button>
				      </span>
				    </div>
				</div>
				<div class="col-lg-4 col-sm-4 textright social">
					<a href="#" class="facebook"></a> <a href="#" class="twitter"></a> <a href="#" class="pinterest"></a> <a href="#" class="googleplus"></a> <a href="#" class="rss"></a>
				</div>

			</div><!-- row -->
		</div><!-- container -->
	</div>
	<!-- fOOTER NEWSLETTER -->

	<!-- FOOTER LARGE -->
	<div id="footer-large">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-3">
					<h1>Wear My Tags</h1>
					<p>
						<ul>
							<li><a href="#">Get Designed</a>
							<li><a href="#">Manufacture</a>
							<li><a href="#">Store</a>
							<li><a href="#">Style Advice</a>
							<li><a href="#">Post Contest</a>
							<li><a href="#">Post Job</a>
						</ul>
					</p>
				</div>

				<div class="col-lg-3 col-sm-3">
					<h1>Resources</h1>
					<p>
						<ul>
							<li><a href="#">Help</a>
							<li><a href="#">Feedback</a>
							<li><a href="#">Terms of Service</a>
							<li><a href="#">Privacy Policy</a>
							<li><a href="#">Cookie Policy</a>
							<li><a href="#">Contact Us</a>
						</ul>
					</p>
				</div>

				<div class="col-lg-3 col-sm-3">
					<h1>Get to Know Us</h1>
					<p>
						<ul>
							<li><a href="#">About Us</a>
							<li><a href="#">Press</a>
							<li><a href="#">Blog</a>
							<li><a href="#">Our Team</a>
							<li><a href="#">Careers</a>
							<li><a href="#">Testimonials</a>
						</ul>
					</p>
				</div>

				<div class="col-lg-3 col-sm-3">
					<h1>Worth Knowing</h1>
					<p>
						<ul>
							<li><a href="#">Sitemap</a>
							<li><a href="#">Getting Started</a>
							<li><a href="#">How it works</a>
							<li><a href="#">Trust &amp; Safety</a>
							<li><a href="#">Fees &amp; Charges</a>
							<li><a href="#">Community</a>
						</ul>
					</p>
				</div>

			</div><!-- row -->
		</div><!-- container -->
	</div>
	<!-- FOOTER LARGE -->
	
	
	<!-- FOOTER COPYRIGHT -->
	<div id="copyright">
		<div class="container">
			<div class="row centered">
				&copy; <a href="#">Wear My Tags</a> | All rights reserved.
			</div><!-- row -->
		</div><!-- container -->
	</div>
	<!-- fOOTER COPYRIGHT -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>-->

  </body>
</html>
